version: "3"

services:
  sql_server_db:
    container_name: sql_server_db
    build:
      context: .
      dockerfile: ./infrastructure/Dockerfile  
    ports:
      - '1433:1433'
    expose:
      - '1433'
  webapi-fravega:
    image: golang-api 
    container_name: golang-api
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 8080:5000
    environment:
      API_DOCKER_PORT: "8080"
      API_PORT: ":5000"
      DB_SERVER: "sql_server_db"
      DB_PORT: 1433
      DB_PASS: "Ssuper!duper@password"
      DB_USER: "SA"
      DB_NAME: "FravegaChallange"
    links:
      - sql_server_db
    
 
