USE [master]
GO
/****** Object:  Database [FravegaChallange]    Script Date: 12/29/2020 3:44:37 PM ******/
CREATE DATABASE [FravegaChallange]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FravegaChallange', FILENAME = N'/var/opt/mssql/data/FravegaChallange.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FravegaChallange_log', FILENAME = N'/var/opt/mssql/data/FravegaChallange_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FravegaChallange].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FravegaChallange]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 12/29/2020 3:44:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[BranchID] [bigint] IDENTITY(1,1) NOT NULL,
	[Address] [nchar](50) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([BranchID], [Address], [Latitude], [Longitude]) VALUES (1, N'Berlin                                            ', 52.527823114360238, 13.3793872984798)
INSERT [dbo].[Branches] ([BranchID], [Address], [Latitude], [Longitude]) VALUES (2, N'Estados Unidos                                    ', 39.454972817022039, -101.83882757946157)
INSERT [dbo].[Branches] ([BranchID], [Address], [Latitude], [Longitude]) VALUES (3, N'Argentina                                         ', -34.678672045807488, -58.582084630892652)
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO

